<ion-view view-title="Atuaçoes Profissionais">
	<ion-content>
    	<ion-list ng-repeat="ap in dadosCurriculo">
    		<ion-list>
    			<ion-item>ATUAÇÕES PROFISSIONAIS</ion-item>
    			<ion-list ng-repeat="_ap in ap.CURRICULO_VITAE.DADOS_GERAIS.ATUACOES_PROFISSIONAIS.ATUACAO_PROFISSIONAL">
					<div class="card">
                        <ion-list>
                            <b>Nome da Instituição:</b>{{_ap._NOME_INSTITUICAO}} <br>
                            <b>Codigo da instituição: </b>{{_ap._CODIGO_INSTITUICAO}}
                        </ion-list>
                    </div>
    			</ion-list>
    		</ion-list>
    	</ion-list>
  	</ion-content>
</ion-view>
