<ion-view view-title="Dados Complementares">
	<ion-content>
		<ion-list>
			<ion-item ng-click="id.id_1 = !id.id_1">Informações Adicionais</ion-item>
			<ion-list ng-show="id.id_1" ng-repeat="__dc in dadosCurriculo">
				<ion-item ng-click="id.id_2 = !id.id_2">Informações adicionais de instituição</ion-item>
				<ion-list ng-show="id.id_2" ng-repeat="DC_ in __dc.CURRICULO_VITAE.DADOS_COMPLEMENTARES.INFORMACOES_ADICIONAIS_INSTITUICOES.INFORMACAO_ADICIONAL_INSTITUICAO">
					<div class="card">	
						<b>Sigla da instituição: </b>{{DC_._SIGLA_INSTITUICAO}} <br>
						<b>Codigo da instituição: </b>{{DC_._CODIGO_INSTITUICAO}} <br>
						<b>Sigla UF instituição: </b>{{DC_._SIGLA_UF_INSTITUICAO}} <br>
						<b>Sigla pais instituição: </b>{{DC_._SIGLA_PAIS_INSTITUICAO}} <br>
						<b>Nome pais instituição: </b>{{DC_._NOME_PAIS_INSTITUICAO}} <br>
						<b>Flag agencia fomento: </b>{{DC_._FLAG_AGENCIA_FOMENTO}} <br>
						<b>Flag instituição de ensino: </b>{{DC_._FLAG_INSTITUICAO_DE_ENSINO}} <br>
					</div>
				</ion-list>
				<ion-item ng-click="id.id_3 = !id.id_3">Informações adicionais de cursos</ion-item>
				<ion-list ng-show="id.id_3" ng-repeat="DC__ in __dc.CURRICULO_VITAE.DADOS_COMPLEMENTARES.INFORMACOES_ADICIONAIS_CURSOS.INFORMACAO_ADICIONAL_CURSO">
					<div class="card">	
						<b>Nome da instituição: </b>{{DC__._NOME_INSTITUICAO}} <br>
						<b>Nivel do curso: </b>{{DC__._NIVEL_CURSO}} <br>
						<b>Codigo do curso: </b>{{DC__._CODIGO_CURSO}} <br>
						<b>Codigo do orgão: </b>{{DC__._CODIGO_ORGAO}} <br>
						<b>Nome do orgão: </b>{{DC__._NOME_ORGAO}} <br>
						<b>Codigo da instituição: </b>{{DC__._CODIGO_INSTITUICAO}} <br>
						<b>Grande area conhecimento: </b>{{DC__._NOME_GRANDE_AREA_DO_CONHECIMENTO}} <br>
						<b>Area conhecimento: </b>{{DC__._NOME_DA_AREA_DO_CONHECIMENTO}} <br>
						<b>Sub area do conhecimento: </b>{{DC__._NOME_DA_SUB_AREA_DO_CONHECIMENTO}} <br>
						<b>Nome da especialidade: </b>{{DC__._NOME_DA_ESPECIALIDADE}} <br>
					</div>
				</ion-list>
			</ion-list>
			<ion-item ng-click="id.id_2 = !id.id_2">Orientações em Andamento</ion-item>
			<ion-list ng-show="id.id_2" ng-repeat="dc_um in dadosCurriculo">
				<ion-item ng-click="id.id_3 = !id.id_3">Doutorado</ion-item>
				<ion-list ng-show="id.id_3">
					<div class="card">
						<ion-item>Dados Basicos da Orientação</ion-item>
						<b>Titulo do trabalho: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._TITULO_DO_TRABALHO}} <br>
						<b>Natureza: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NATUREZA}} <br>
						<b>Ano: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._ANO}} <br>
						<b>Pais: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._PAIS}} <br>
						<b>Idioma: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._IDIOMA}} <br>
						<b>Home page: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._HOME_PAGE}} <br>
						<b>DOI: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._DOI}} <br>
						<b>Titulo do trabalho em ingles: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._TITULO_DO_TRABALHO_INGLES}} <br>
						<ion-item ng-click="id.id_4 = !id.id_4">Detalhamento da Orientação</ion-item>
						<ion-list ng-show="id.id_4">
							<b>Tipo de orientação: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._TIPO_DE_ORIENTACAO}}<br>
							<b>Nome do Orientando: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_DO_ORIENTANDO}}<br>
							<b>Codigo da instituição: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._CODIGO_INSTITUICAO}}<br>
							<b>Nome da instituição: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_INSTITUICAO}}<br>
							<b>Codigo do orgão: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._CODIGO_ORGAO}}<br>
							<b>Nome do orgão: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_ORGAO}}<br>
							<b>Codigo do curso: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._CODIGO_CURSO}}<br>
							<b>Nome do curso: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_CURSO}}<br>
							<b>Flag da bolsa: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._FLAG_BOLSA}}<br>
							<b>Codigo agencia financiadora: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._CODIGO_AGENCIA_FINANCIADORA}}<br>
							<b>Nome da agencia: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_DA_AGENCIA}}<br>
							<b>Numero id orientando: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NUMERO_ID_ORIENTANDO}}<br>
							<b>Nome do curso em ingles: </b>{{dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_DOUTORADO._NOME_CURSO_INGLES}}<br>
						</ion-list>
					</div>
				</ion-list>
				<ion-item ng-click="id.id_5 = !id.id_5">Iniciação Cientifica</ion-item>
				<ion-list ng-show="id.id_5" ng-repeat="__dc_um in dc_um.CURRICULO_VITAE.DADOS_COMPLEMENTARES.ORIENTACOES_EM_ANDAMENTO.ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA">
					<div class="card">
						<ion-item>Dados basicos da orientação</ion-item>
						<b>Titulo do trabalho: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._TITULO_DO_TRABALHO}}<br>
						<b>Natureza: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NATUREZA}}<br>
						<b>Ano: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._ANO}}<br>
						<b>Pais: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._PAIS}}<br>
						<b>Idioma: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._IDIOMA}}<br>
						<b>Home page: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._HOME_PAGE}}<br>
						<b>DOI: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._DOI}}<br>
						<b>Titulo do trabalho em ingles: </b>{{__dc_um.DADOS_BASICOS_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._TITULO_DO_TRABALHO_INGLES}}<br>
						<ion-item ng-click="id.id_6 = !id.id_6">Detalhamento da orientação</ion-item>
						<ion-list ng-show="id.id_6">
						<b>Nome do orientando: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_DO_ORIENTANDO}}<br>
						<b>Codigo instituição: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._CODIGO_INSTITUICAO}}<br>
						<b>Nome da instituição: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_INSTITUICAO}}<br>
						<b>Codigo do orgão: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._CODIGO_ORGAO}}<br>
						<b>Nome do orgão: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_ORGAO}}<br>
						<b>Codigo do curso: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._CODIGO_CURSO}}<br>
						<b>Nome do curso: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_CURSO}}<br>
						<b>Flag da bolsa: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._FLAG_BOLSA}}<br>
						<b>Codigo agencia financiadora: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._CODIGO_AGENCIA_FINANCIADORA}}<br>
						<b>Nome da agencia: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_DA_AGENCIA}}<br>
						<b>Numero id orientando: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NUMERO_ID_ORIENTANDO}}<br>
						<b>Nome curso ingles: </b>{{__dc_um.DETALHAMENTO_DA_ORIENTACAO_EM_ANDAMENTO_DE_INICIACAO_CIENTIFICA._NOME_CURSO_INGLES}}<br>
						</ion-list>
					</div>
				</ion-list>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-view>