<ion-view view-title="Outra produção">
	<ion-content>
		<ion-item ng-click="id.id_1 = !id.id_1">Orientações Concluidas para Mestrado</ion-item>
		<ion-list ng-show="id.id_1" ng-repeat="op in dadosCurriculo">
				<div class="card">
					<ion-list>
						<ion-item>Dados Basicos de Orientações Concluidas para Mestrado</ion-item>		 
						<b>Titulo: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._TITULO}} <br>
						<b>Natureza: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NATUREZA}} <br>
						<b>Tipo: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._TIPO}} <br>
						<b>Ano: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._ANO}} <br>
						<b>Pais: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._PAIS}} <br>
						<b>Idioma: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._IDIOMA}} <br>
						<b>Home page: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._HOME_PAGE}} <br>
						<b>Flag relevancia: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._FLAG_RELEVANCIA}} <br>
						<b>DOI: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._DOI}} <br>
						<b>Titulo em ingles: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DADOS_BASICOS_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._TITULO_INGLES}}
					</ion-list>
					<ion-item ng-click="id.id_2 = !id.id_2">Detalhamento de Orientações Concluidas para Mestrado</ion-item>
					<ion-list ng-show="id.id_2">
						<b>Nome do orientando: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NOME_DO_ORIENTADO}} <br>
						<b>Tipo de orientação: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._TIPO_DE_ORIENTACAO}} <br>
						<b>Codigo instituição: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._CODIGO_INSTITUICAO}} <br>
						<b>Nome da instituição: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NOME_DA_INSTITUICAO}} <br>
						<b>Codigo do orgão: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._CODIGO_ORGAO}} <br>
						<b>Nome do orgão: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NOME_ORGAO}} <br>
						<b>Codigo do curso: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._CODIGO_CURSO}} <br>
						<b>Flag da bolsa: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._FLAG_BOLSA}} <br>
						<b>Codigo agencia financiadora: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._CODIGO_AGENCIA_FINANCIADORA}} <br>
						<b>Nome da agencia: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NOME_DA_AGENCIA}} <br>
						<b>Numero de paginas: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NUMERO_DE_PAGINAS}} <br>
						<b>Numero Id orientado: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NUMERO_ID_ORIENTADO}} <br>
						<b>Nome do curso em ingles: </b> {{op.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.ORIENTACOES_CONCLUIDAS_PARA_MESTRADO.DETALHAMENTO_DE_ORIENTACOES_CONCLUIDAS_PARA_MESTRADO._NOME_DO_CURSO_INGLES}} <br>
					</ion-list>
				</div>
			</ion-list>
		</ion-list>
		<ion-item ng-click="id.id_3 = !id.id_3">Outras Orientações Concluidas</ion-item>
		<ion-list ng-show="id.id_3" ng-repeat="_op_ in dadosCurriculo">
			<ion-list ng-repeat="_op_um in _op_.CURRICULO_VITAE.OUTRA_PRODUCAO.ORIENTACOES_CONCLUIDAS.OUTRAS_ORIENTACOES_CONCLUIDAS">
				<div class="card">
					<ion-list>
						<ion-item>Dados Basicos de Outras Orientações Concluidas</ion-item>
						<b>Titulo: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._TITULO}} <br>
						<b>Natureza: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NATUREZA}} <br>
						<b>Tipo: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._TIPO}} <br>
						<b>Ano: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._ANO}} <br>
						<b>Pais: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._PAIS}} <br>
						<b>Idioma: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._IDIOMA}} <br>
						<b>Home page: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._HOME_PAGE}} <br>
						<b>Flag de relevancia: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._FLAG_RELEVANCIA}} <br>
						<b>DOI: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._DOI}} <br>
						<b>Titulo em ingles: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._TITULO_INGLES}} <br>
						<b>Tipo em ingles: </b> {{_op_um.DADOS_BASICOS_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._TIPO_INGLES}}
					</ion-list>
					<ion-item ng-click="id.id_4 = !id.id_4">Detalhamento de Outras Orientações Concluidas</ion-item>
					<ion-list ng-show="id.id_4">
						<b>Nome do orientador: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NOME_DO_ORIENTADO}} <br>
						<b>Codigo instituição: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._CODIGO_INSTITUICAO}} <br>
						<b>Nome da instituição: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NOME_DA_INSTITUICAO}} <br>
						<b>Codigo do curso: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._CODIGO_CURSO}} <br>
						<b>Nome do curso: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NOME_DO_CURSO}} <br>
						<b>Flag da bolsa: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._FLAG_BOLSA}} <br>
						<b>Codigo agencia financiadora: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._CODIGO_AGENCIA_FINANCIADORA}} <br>
						<b>Nome da agencia: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NOME_DA_AGENCIA}} <br>
						<b>Tipo de orientação concluida: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._TIPO_DE_ORIENTACAO_CONCLUIDA}} <br>
						<b>Numero de paginas: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NUMERO_DE_PAGINAS}} <br>
						<b>Numero de ID orientado: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NUMERO_ID_ORIENTADO}} <br>
						<b>Nome do curso ingles: </b> {{_op_um.DETALHAMENTO_DE_OUTRAS_ORIENTACOES_CONCLUIDAS._NOME_DO_CURSO_INGLES}} <br>
						<b>Sequencia de Produção: </b> {{_op_um._SEQUENCIA_PRODUCAO}} 
					</ion-list>
				</div>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-view>