<!DOCTYPE html>
<html lang="pt-br" ng-app="buscaLattes">
	<head>
		<title>Busca Lattes</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
		<script src="lib/angular/angular.js"></script>
	</head>
	<body ng-controller="lattesCtrl">
		<section class="container">
			<!-- Cabeçalho -->
			<header>
				<h3>Busca Lattes</h3>
				<img ng-src="img/lattes.png" alt="logo" with="30" height="30" class="imgn">
				 <!--fazer depois-->
				 <div id="icone">
					<a ng-href="tamplates/sobre.html" title="sobre">
						<i class="glyphicon glyphicon-link"></i>
					</a>
					<a ng-href="tamplates/quemSomos.html" title="quem somos">
						<i class="glyphicon glyphicon-info-sign"></i>
					</a>
				</div>
				<!--fazer depois--> 				
			</header>
			<!-- Cabeçalho -->		
			<br><br>
			<br><br>
			<!-- Tabela de professores -->
			<table class="table">
				<tr>
					<th>Professores</th>
				</tr>
				<tr ng-repeat="name in teste | orderBy : 'nome' " ng-click="select(name)">
					<td>
					<img ng-src="img/teacher.png" 
					alt="perfilProfessores" class="img-circle">
						{{name.nome}}
					</td>
				</tr>
			</table>
			<!-- Tabela de professores -->
		</section>
	</body>
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="js/app.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
</html>