<!-- ========== -->
<div class="btn-group" uib-dropdown>
	  <button type="button" 
	  class="btn btn-primary" uib-dropdown-toggle>
	    Produção bibliográfica 
	    <span class="caret"></span>
	  </button>
	  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
		    <li role="menuitem">
		    	<a href="#">Artigos completos publicados em periódicos</a>
		    </li>
		    <li role="menuitem">
		    	<a href="#">Capítulos de livros publicados</a>
		    </li>
		    <li role="menuitem">
		    	<a href="#">Trabalhos completos publicados em anais de congressos</a>
		    </li>
		    <li role="menuitem">
		    	<a href="#">Resumos publicados em anais de congressos</a>
		    </li>
		    <li role="menuitem">
		    	<a href="#">Apresentações de trabalho</a>
		    </li>
		    <li class="divider"></li>
		    <li role="menuitem">
		    	<a href="#">Total de produção bibliográfica </a>
		    </li>
	  </ul>
</div>
<!-- ============ -->
<div class="btn-group" uib-dropdown>
	  <button type="button" 
	  class="btn btn-primary" uib-dropdown-toggle>
	    Produção técnica
	    <span class="caret"></span>
	  </button>
	  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
		    <li role="menuitem">
		    	<a href="#">Produtos tecnológicos</a>
		    </li>
		    <li role="menuitem">
		    	<a href="#">Demais tipos de produção técnica</a>
		    </li>
		    <li class="divider"></li>
		    <li role="menuitem">
		    	<a href="#">Total de produção técnica</a>
		    </li>
	  </ul>
</div> 
<!-- ========= -->
<div class="btn-group" uib-dropdown>
  <button type="button" 
  class="btn btn-primary" uib-dropdown-toggle>
   Orientações
   <span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
	    <li role="menuitem"><strong>Orientações em andamento</strong></li>
	    <li role="menuitem">
	    	<a href="#">Tese de doutorado</a>
	    </li>
	    <li role="menuitem">
	    	<a href="#">Trabalho de conclusão de curso de graduação</a>
	    </li>
	    <li role="menuitem">
	    	<a href="#">Iniciação científica </a>
	    </li>
	    <li role="menuitem">
	    	<a href="#">Total de orientações em andamento </a>
	    </li>
	    <li class="divider"></li>
	    <li role="menuitem"><strong>Supervisões e orientações concluídas</strong></li>
	    <li role="menuitem">
	    	<a href="#">Dissertação de mestrado</a>
	    </li>
		<li role="menuitem">
	    	<a href="#">Monografia de conclusão de curso de aperfeiçoamento/especialização</a>
	    </li>
		<li role="menuitem">
	    	<a href="#">Trabalho de conclusão de curso de graduação</a>
	    </li>
	    <li role="menuitem">
	    	<a href="#">Iniciação científica</a>
	    </li>
	    <li class="divider"></li>
	    <li role="menuitem">
	    	<a href="#">Total de orientações concluídas</a>
	    </li>
  	</ul>
</div>
<!-- ============ -->
<div class="btn-group" uib-dropdown>
	  <button type="button" 
	  class="btn btn-primary" uib-dropdown-toggle>
	    Projetos de pesquisa
	    <span class="caret"></span>
	  </button>
	  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
		    <li role="menuitem">
		    	<a href="#">Total de projetos de pesquisa</a>
		    </li>
	  </ul>
</div>
<!-- ============= -->
	<div class="btn-group" uib-dropdown>
	  <button type="button" 
	  class="btn btn-primary" uib-dropdown-toggle>
	    Participação em eventos
	    <span class="caret"></span>
	  </button>
	  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
		    <li role="menuitem">
		    	<a href="#">Total de participação em eventos</a>
		    </li>
	  </ul>
</div>