<section class="container">
	<!-- Cabeçalho -->
	<header>
		<!-- Cabeçalho Primario-->
		<section ng-hide="aqui">
			<h3>{{titulo}}</h3>
			<img ng-src="img/lattes.png" alt="logo" with="30" height="30" class="imgn">
		</section>
		<!-- Cabeçalho Primario-->
	</header>
	<!-- Cabeçalho -->
	<br><br><br><br>
	<!-- Tabela de professores -->
	<section ng-hide="aqui">
		<table class="table table-striped">
			<tr>
				<th>Professores</th>
			</tr>
			<tr ng-repeat="name in prof | orderBy : 'nome' " ng-click="select(name);mestreDosMagos(name)">
				<td>
					<img ng-src="img/teacher.png" alt="perfilProfessores" class="img-circle">
					<a href="#/opcoesLattes">{{name.nome}}</a>
				</td>
			</tr>
		</table>
	</section>
	<!-- Tabela de professores -->
</section>
