<!DOCTYPE html>
<html lang="pt-br" ng-app="buscaLattes">
	<head>
		<title>Busca Lattes</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
		<script src="lib/angular/angular.js"></script>
	</head>
	<body ng-controller="lattesCtrl">
		<section class="container">
			<!-- Cabeçalho -->
			<header>
				<!-- Cabeçalho Primario-->
				<section ng-hide="aqui">
					<h3>{{titulo}}</h3>
					<img ng-src="img/lattes.png" alt="logo" with="30" height="30" class="imgn">
					 <div id="icone">
						<a ng-href="tamplates/sobre.html" title="sobre">
							<i class="glyphicon glyphicon-link"></i>
						</a>
					</div>
				</section>
				<!-- Cabeçalho Primario-->
				<!-- Cabeçalho Secundario-->
				<section class="voltarIcone" ng-click="mestreDosMagos()" ng-show="aqui">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</section>
				<!-- Cabeçalho Secundario-->	
			</header>
			<!-- Cabeçalho -->		
			<br><br>
			<br><br>
			<!-- Tabela de professores -->
			<section ng-hide="aqui">
				<table class="table table-striped">
					<tr>
						<th>Professores</th>
					</tr>
					<tr ng-repeat="name in prof | orderBy : 'nome' " 
					ng-click="select(name);mestreDosMagos()">
						<td>
							<img ng-src="img/teacher.png" 
							alt="perfilProfessores" class="img-circle">
							{{name.nome}}

						</td>
					</tr>
				</table>
			</section>
			<!-- Tabela de professores -->
			<!-- table com os conteudos dos json -->
			<section ng-show="aqui">
				<table class="table table-striped">
					<tr>
						<th>Artigo</th>
						<th>Autor</th>
					</tr>
					<tr ng-repeat="objc in selectedNome">
						<td>{{objc.artigo}}</td>
						<td>{{objc.autor}}</td>
					</tr>
				</table>
			</section>
			<!-- table com os conteudos dos json -->
		</section>
	</body>
	<script src="lib/jquery/dist/jquery.js"></script>
	<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/lattesCtrl.js"></script>
</html>