<ion-view view-title="Area de Atuação">
	<ion-content>
		<ion-list ng-repeat="at in dadosCurriculo">
			<ion-list>
					<ion-item>AREA DE ATUAÇÃO</ion-item>
					<p>	
						<b>Nome grande area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[0]._NOME_GRANDE_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[0]._NOME_DA_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da sub area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[0]._NOME_DA_SUB_AREA_DO_CONHECIMENTO}}
					</p>
			</ion-list>
			<ion-list>
					<ion-item>AREA DE ATUAÇÃO</ion-item>
					<p>	
						<b>Nome grande area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[1]._NOME_GRANDE_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[1]._NOME_DA_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da sub area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[1]._NOME_DA_SUB_AREA_DO_CONHECIMENTO}}
					</p>
			</ion-list>
			<ion-list>
					<ion-item>AREA DE ATUAÇÃO</ion-item>
					<p>	
						<b>Nome grande area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[2]._NOME_GRANDE_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[2]._NOME_DA_AREA_DO_CONHECIMENTO}}
					</p>
					<p>
						<b>Nome da sub area do conhecimento: </b>
						{{at.CURRICULO_VITAE.DADOS_GERAIS.AREAS_DE_ATUACAO.AREA_DE_ATUACAO[2]._NOME_DA_SUB_AREA_DO_CONHECIMENTO}}
					</p>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-view>