<ion-view view-title="Professor">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img ng-src="{{picProfessor}}" alt="Imagem do professor">
            	<h2>{{nomeProfessor}}</h2>
			</div>
    	</div>
    	<ion-item ui-sref="app.dg">Dados gerais</ion-item>
    	<ion-item ui-sref="app.fa">Formação academica</ion-item>
    	<!-- 
    		TODO: Arrumar um padrao para as atuaçoes proficionais
    	-->
    	<!--<ion-item ui-sref="app.ap">Atuações proficionais</ion-item> -->
    	<ion-item ui-sref="app.at">Areas de atuação</ion-item>
        <ion-item ui-sref="app.pb">Produção bibliograficas</ion-item>
	</ion-content>
</ion-view>
