<ion-view view-title="Professor">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img ng-src="{{picProfessor}}" alt="Imagem do professor">
            	<h2>{{nomeProfessor}}</h2>
			</div>
    	</div>
		<ion-list ng-show="choice">
			<ion-radio ng-show="choice" ng-click="choice = !choice">Dados gerais</ion-radio>
		</ion-list>
		<ion-list ng-hide="choice">
			<ion-radio ng-hide="choice" ng-click="choice = !choice">Voltar</ion-radio>
			<div ng-repeat="dados in selected">
				<ion-item><b>RESUMO CURRICULO VITAE</b></ion-item>
				<p>
					{{dados.CURRICULO_VITAE.DADOS_GERAIS.RESUMO_CV._TEXTO_RESUMO_CV_RH}}
				</p>
				<ion-item><b>RESUMO CURRICULO VITAE INGLES</b></ion-item>
				<p>
					{{dados.CURRICULO_VITAE.DADOS_GERAIS.RESUMO_CV._TEXTO_RESUMO_CV_RH_EN}}
				</p>
				<ion-item><b>OUTRAS INFORMAÇOES</b></ion-item>
				<p>
					{{dados.CURRICULO_VITAE.DADOS_GERAIS.OUTRAS_INFORMACOES_RELEVANTES._OUTRAS_INFORMACOES_RELEVANTES}}
				</p>
				<ion-list><ion-item><b>ENDEREÇO PROFICIONAL</b></ion-item>
					<p><b>Codigo instituição-empresa:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CODIGO_INSTITUICAO_EMPRESA}}</p>
					<p><b>Nome instituição-empresa:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._NOME_INSTITUICAO_EMPRESA}}</p>
					<p><b>Codigo orgão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CODIGO_ORGAO}}</p>
					<p><b>Nome orgão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._NOME_ORGAO}}</p>
					<p><b>Codigo unidade:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CODIGO_UNIDADE}}</p>
					<p><b>Nome unidade:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._NOME_UNIDADE}}</p>
					<p><b>Logradouro:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._LOGRADOURO_COMPLEMENTO}}</p>
					<p><b>Pais:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._PAIS}}</p>
					<p><b>UF:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._UF}}</p>
					<p><b>CEP:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CEP}}</p>
					<p><b>Cidade:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CIDADE}}</p>
					<p><b>Bairro:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._BAIRRO}}</p>
					<p><b>DDD:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._DDD}}</p>
					<p><b>Telefone:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._TELEFONE}}</p>
					<p><b>Ramal:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._RAMAL}}</p>
					<p><b>Fax:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._FAX}}</p>
					<p><b>Caixa postal:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CAIXA_POSTAL}}</p>
					<p><b>Email:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._E_MAIL}}</p>
					<p><b>Email:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._HOME_PAGE}}</p> </ion-list>
				<ion-list>
					<ion-item><b>ENDEREÇO RESIDENCIAL</b></ion-item>
					<p><b>Logradouro:</b> {{dados.CURRICUlO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_RESIDENCIAL._LOGRADOURO}}</p>
					<p><b>Pais:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._PAIS}}</p>
					<p><b>UF:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._UF}}</p>
					<p><b>CEP:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CEP}}</p>
					<p><b>Cidade:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CIDADE}}</p>
					<p><b>Bairro:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._BAIRRO}}</p>
					<p><b>DDD:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._DDD}}</p>
					<p><b>Telefone:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._TELEFONE}}</p>
					<p><b>Ramal:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._RAMAL}}</p>
					<p><b>Fax:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._FAX}}</p>
					<p><b>Caixa postal:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._CAIXA_POSTAL}}</p>
					<p><b>Email:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._E_MAIL}}</p>
					<p><b>Email:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO.ENDERECO_PROFISSIONAL._HOME_PAGE}}</p>
				</ion-list>
				<p><b>FLAG DE PREFERENCIA:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.ENDERECO._FLAG_DE_PREFERENCIA}}</P>
				<ion-list>
					<ion-item><b>FORMAÇÃO ACADEMICA TITULAÇÃO</b></ion-item>
					<h4><b>GRADUAÇÃO</b></h4>
					<p><b>Sequencia formação:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._SEQUENCIA_FORMACAO}}</p>
					<p><b>Graduação nivel:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NIVEL}}</p>
					<p><b>Titulo do trabalho de conclusao de curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._TITULO_DO_TRABALHO_DE_CONCLUSAO_DE_CURSO}}</p>
					<p><b>Nome do orientador:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_DO_ORIENTADOR}}</p>
					<p><b>Codigo instituição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_INSTITUICAO}}</p>
					<p><b>Nome instituição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_INSTITUICAO}}</p>
					<p><b>Codigo orgão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_ORGAO}}</p>
					<p><b>Nome orgão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_ORGAO}}</p>
					<p><b>Codigo curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_CURSO}}</p>
					<p><b>Nome curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_CURSO}}</p>
					<p><b>Codigo area curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_AREA_CURSO}}</p>
					<p><b>Status do curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._STATUS_DO_CURSO}}</p>
					<p><b>Ano de inicio:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._ANO_DE_INICIO}}</p>
					<p><b>Ano de conclusão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._ANO_DE_CONCLUSAO}}</p>
					<p><b>Flag bolsa:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._FLAG_BOLSA}}</p>
					<p><b>Codigo agencia financiadora:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_AGENCIA_FINANCIADORA}}</p>
					<p><b>Nome agencia:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_AGENCIA}}</p>
					<p><b>Numero id orientador:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NUMERO_ID_ORIENTADOR}}</p>
					<p><b>Codigo curso capes:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_CURSO_CAPES}}</p>
					<p><b>Titulo do trabalho de conclusão de curso ingles:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._TITULO_DO_TRABALHO_DE_CONCLUSAO_DE_CURSO_INGLES}}</p>
					<p><b>Nome curso ingles:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_CURSO_INGLES}}</p>
					<p><b>Formação academica titulação:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._FORMACAO_ACADEMICA_TITULACAO}}</p>
					<p><b>Tipo graduação:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._TIPO_GRADUACAO}}</p>
					<p><b>Codigo instituição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_INSTITUICAO_GRAD}}</p>
					<p><b>Nome instituição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_INSTITUICAO_GRAD}}</p>
					<p><b>Codigo instituição outra:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._CODIGO_INSTITUICAO_OUTRA_GRAD}}</p>
					<p><b>Nome instituição outra:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_INSTITUICAO_OUTRA_GRAD}}</p>
					<p><b>Nome orientador outra:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.GRADUACAO._NOME_ORIENTADOR_GRAD}}</p>
					<hr><h4><b>Mestrado</b></h4>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_1}}</p>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_2}}</p>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_3}}</p>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_4}}</p>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_5}}</p>
					<p><b>Palavra chave:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.PALAVRAS_CHAVE._PALAVRA_CHAVE_6}}</p>
					<p><b>Nome grande area do conhecimento:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.AREAS_DO_CONHECIMENTO.AREA_DO_CONHECIMENTO_1._NOME_GRANDE_AREA_DO_CONHECIMENTO}}</p>
					<p><b>Nome da area do conhecimento:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.AREAS_DO_CONHECIMENTO.AREA_DO_CONHECIMENTO_1._NOME_DA_AREA_DO_CONHECIMENTO}}</p>
					<p><b>Nome da sub area do conhecimento:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.AREAS_DO_CONHECIMENTO.AREA_DO_CONHECIMENTO_1._NOME_DA_SUB_AREA_DO_CONHECIMENTO}}</p>
					<p><b>Nome da especialidade:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO.AREAS_DO_CONHECIMENTO.AREA_DO_CONHECIMENTO_1._NOME_DA_ESPECIALIDADE}}</p>
					<p><b>Sequencia formação:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._SEQUENCIA_FORMACAO}}</p>
					<p><b>Nivel:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NIVEL}}</p>
					<p><b>Codigo instuição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_INSTITUICAO}}</p>
					<p><b>Nome instituição:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_INSTITUICAO}}</p>
					<p><b>Codigo orgão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_ORGAO}}</p>
					<p><b>Codigo curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_CURSO}}</p>
					<p><b>Nome curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_CURSO}}</p>
					<p><b>Codigo area curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_AREA_CURSO}}</p>
					<p><b>Status do curso:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._STATUS_DO_CURSO}}</p>
					<p><b>Ano de inicio:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._ANO_DE_INICIO}}</p>
					<p><b>Ano de conclusão:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._ANO_DE_CONCLUSAO}}</p>
					<p><b>Flag bolsa:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._FLAG_BOLSA}}</p>
					<p><b>Codigo agencia financiadora:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_AGENCIA_FINANCIADORA}}</p>
					<p><b>Nome agencia:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_AGENCIA}}</p>
					<p><b>Ano de obtenção do titulo:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._ANO_DE_OBTENCAO_DO_TITULO}}</p>
					<p><b>Titulo da dissertação tese:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._TITULO_DA_DISSERTACAO_TESE}}</p>
					<p><b>Nomde completo do orientador:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_COMPLETO_DO_ORIENTADOR}}</p>
					<p><b>Tipo mestrado:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._TIPO_MESTRADO}}</p>
					<p><b>Numero id orientador:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NUMERO_ID_ORIENTADOR}}</p>
					<p><b>Codigo curso capes:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_CURSO_CAPES}}</p>
					<p><b>Titulo da dissertação tese ingles:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._TITULO_DA_DISSERTACAO_TESE_INGLES}}</p>
					<p><b>Nome curso ingles:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_CURSO_INGLES}}</p>
					<p><b>Nome do Co-orientador:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_DO_CO_ORIENTADOR}}</p>
					<p><b>Codigo instituição dout:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_INSTITUICAO_DOUT}}</p>
					<p><b>Nome instituição dout:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_INSTITUICAO_DOUT}}</p>
					<p><b>Codigo instituição outra dout:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._CODIGO_INSTITUICAO_OUTRA_DOUT}}</p>
					<p><b>Nome instituição outra dout:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_INSTITUICAO_OUTRA_DOUT}}</p>
					<p><b>Nome orientador dout:</b> {{dados.CURRICULO_VITAE.DADOS_GERAIS.FORMACAO_ACADEMICA_TITULACAO.MESTRADO._NOME_ORIENTADOR_DOUT}}</p>
				</ion-list>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
