.container
{
	text-align: center;
}
center
{
	margin-top: 100px
}
center h4
{
	color: #1E90FF;
}
footer .iga
{
	text-align: center;
	margin-top: 150px;
}
a:link, a:visited, a:active, a:hover
{
	text-decoration: none;color: black;
}
/*.animate-repeat
{
	line-height:40px;
	list-style:none;
	box-sizing:border-box;
}*/
.thumb40
{
	width: 30px;
	height: 30px
}
.container .bt
{
	margin-top: 20px;
	margin-left: -95%;
}
